

<div *ngIf="project"
    class="bg-white p-4 rounded shadow relative transform transition-transform duration-300 hover:scale-105"
    [routerLink]="['/project', project.id]">

  <div class="absolute top-2 right-2">
    <button
      *ngIf="!showConfirmDelete"
      (click)="onDeleteClick($event)"
      class="text-red-500 hover:text-red-700">
      <img src="app/assets/icons/cancel-indigo.png" alt="Delete" class="w-4 h-4 ml-2">
  </button>
</div>

  <h2 class="text-lg font-bold">{{ project.name | truncate: 20 }}</h2>
  <p class="text-gray-500">
    {{ project.description.trim() === '' ? '(No description)' : project.description | truncate: 40}}
  </p>
  <p class="text-gray-500">Budget: {{ project.budget }}$</p>
</div>

<clb-modal
[isOpen]="showConfirmDelete"
(closeModal)="cancelDelete()"
title="Confirm Project Deletion ?">
<div class="flex flex-col items-center justify-center space-y-4">
  <p class="text-gray-600 mb-4">Are you sure you want to delete this project and its US? This action cannot be undone</p>
  <div class="flex space-x-4">
    <button 
      (click)="confirmDelete();"
      class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 flex items-center">
      Delete
    </button>
    <button 
      (click)="cancelDelete()"
      class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400">
      Cancel
    </button>
  </div>
</div>
</clb-modal>